<ion-content [fullscreen]="true">
  <div class="love-background">
    <!-- Hearts and balloons background elements -->
    <div class="heart heart1"></div>
    <div class="heart heart2"></div>
    <div class="heart heart3"></div>
    <div class="heart heart4"></div>
    <div class="heart heart5"></div>
    <div class="balloon balloon1"></div>
    <div class="balloon balloon2"></div>
    <div class="balloon balloon3"></div>
    <div class="balloon balloon4"></div>
    <div class="floating-text text1">💕</div>
    <div class="floating-text text2">💘</div>
    <div class="floating-text text3">💖</div>
    <div class="floating-text text4">💓</div>
    <div class="floating-text text5">💗</div>
  </div>
  
    <div class="message-container">
    <div class="message-box">
      <p class="message-text">Kamu cayangg mass ndaa?</p>
      <div class="button-container">
        <ion-button size="default" class="yes-button" (click)="sayYes()">IYAA!!</ion-button>
        <ion-button size="default" class="no-button" (click)="sayNo()">GA</ion-button>
      </div>
    </div>
  </div>
</ion-content>